<div class="container">
  <div class="slogan">
    <h1>People</h1>
    <p class="lead">Meet the Arcturus BioCloud community!</p>
    <hr/>
  </div>

  <% @people.each do |user| %>
    <div class="row project">
      <div class="col-lg-12">
        <h2 class="list">
          <%= link_to image_tag(user.gravatar_url(default: 'identicon')), username_projects_path(user.username) %> <%= link_to user.username, username_projects_path(user.username) %>
          <p>Open source projects: <%= user.projects.open_source.size %></p>
          <p class="meta">Member since <%= user.created_at.strftime('%m/%d/%Y') %></p>
        </h2>
      </div>
    </div>
  <% end %>

  <%= paginate @people %>
</div>
