<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("arcturus-white.png", width: "61", height: "63.5", alt: "Arcturus BioCloud"), root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Explore', explore_path %></li>
        <li><%= link_to 'How it Works', '#how-it-works' %></li>
        <li><%= link_to 'FAQ', '#frequently-asked-questions' %></li>
        <% if user_signed_in? %>
          <li><%= link_to "My projects", username_projects_path(current_user.username) %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, class: 'sign-up' %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path, class: 'sign-up' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Arcturus BioCloud</h1>
        <p class="lead">Genetic Engineering as a Service</p>
        <%= link_to 'Create your first DNA construct', new_project_path, class: 'cta' %>
      </div>
    </div>
  </div>
</div>

<div class="container section section-one">
  <div class="row">
    <div class="col-sm-12">
      <h2>Rapid prototyping and data extraction of genetic constructs.<br>Create your constructs through the cloud!</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 steps">
      <div class="row">
        <div class="col-sm-4">
          <%= image_tag("step-1.png", class: 'step-icon') %>
        </div>
        <div class="col-sm-8">
          <p>Drag and drop your<br>GenBank files</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <%= image_tag("step-2.png", class: 'step-icon') %>
        </div>
        <div class="col-sm-8">
          <p>Choose experiments data<br>you want to be extracted</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <%= image_tag("step-3.png", class: 'step-icon') %>
        </div>
        <div class="col-sm-8">
          <p>View real time updates and<br>share with the community</p>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <%= image_tag("import.png", class: 'step-info') %>
    </div>
  </div>
</div>

<div class="section section-two">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <%= image_tag("workflow.png", class: 'step-icon') %>
      </div>
      <div class="col-sm-7">
        <blockquote><span>We synthesize and assembly your genetic constructs, running multiple data extraction experiments in your project to check if your gene is expressing. If you like the results we will ship the genetic construct to you.</span></blockquote>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 id="how-it-works">How it Works</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 video">
        <div class="videoWrapper">
          <iframe width="560" height="349" src="https://www.youtube.com/embed/0PtjAQSXoBU" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-faq">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 id="frequently-asked-questions">Frequently Asked Questions</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="question"><%= fa_icon 'caret-right', class: 'fa-rotate-90' %> What do you do?</p>
        <p class="answer">Arcturus BioCloud is a virtual bio-foundry for the rapid prototyping of microorganisms, using genetic engineering. At this point we only work with Escherichia coli and yeast. The idea is that you will send us your digital design (a plasmid in GenBank format) and select the experiments for which you want to obtain data. We synthesize your plasmid, perform the experiments and send you the result through our platform, so you can go back and iterate your design until it works as you would like it to.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="question"><%= fa_icon 'caret-right' %> What can I do with your service?</p>
        <p class="answer">We've already proven that we are a great platform for developing research and education; we have customers that are producing synthetic gelatin, insulin, and other novel products. We also have the University of Colorado Denver and a school in Alberta, Canada as customers. They are teaching people how to do genetic engineering without the need for a physical laboratory.</p>
        <p class="answer">We are a great fit for Research Centers and Companies that want to test fast expression of proteins and build metabolic pathways to develop applications using biotechnology or synthetic biology.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="question"><%= fa_icon 'caret-right' %> Why do you offer this service?</p>
        <p class="answer">Our mission is to make these technologies more accessible so that scientists, creators and inventors from all around the world can work with the best tools, regardless of their geographic limitations.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="question"><%= fa_icon 'caret-right' %> How do I start?</p>
        <p class="answer"><%= link_to 'See our screencast', '#how-it-works' %>. It will explain how to find genes in the databases and design your construct using design software. Then, you simply send us your design and choose the experiments you want us to run.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="question"><%= fa_icon 'caret-right' %> How much does it cost?</p>
        <p class="answer">Send us your design and select your experiment, we will give you a quote for your design cycle (synthesis and experiments). The cost varies depending on the size and complexity of the sequences, as well as the experimental design you select.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="question"><%= fa_icon 'caret-right' %> I want to develop an experiment that is not on your list. What do I do?</p>
        <p class="answer">Use our communication tool. Talk to our scientists, they can figure out if we can develop your desired experiment for you.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="question"><%= fa_icon 'caret-right' %> Do you scale the process?</p>
        <p class="answer">No, we are a rapid prototyping service. After this process, you can continue scaling your production. In the future, we hope to bring resources to help you do this as well.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="question"><%= fa_icon 'caret-right' %> Who owns the Intellectual Property?</p>
        <p class="answer">We are a service provider tool, as you can see in our “User Agreement” we don’t have any intellectual property on your design, results or product. You can maintain your research privately or publically, as you see fit. Our CTO has an excellent record in software security, so you can be sure your data is safe with us.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="question"><%= fa_icon 'caret-right' %> Is this safe?</p>
        <p class="answer">This is the safest way to develop biotechnology as all the experiments are developed in certified laboratories. We screen the sequences and designs we receive using the default databases to prevent any harmful usage of this technology.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="question"><%= fa_icon 'caret-right' %> What do you send?</p>
        <p class="answer">We send you digital data, representing the results of the experiments. Also, after we test your designs and find the best combination, tune of genes or working metabolic pathway, you can ask for the DNA. We will send the plasmid DNA to you. We do not ship modified organisms, we send the DNA. You can transform it in your facility and continue your process.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="question"><%= fa_icon 'caret-right' %> Do you ship internationally?</p>
        <p class="answer">Yes, but be aware this can take time because of your country's internal regulations.</p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="section section-three">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>See what our customers are saying about us</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag("heather.png") %>
        <p>"We want to use Arcturus platform to teach people that don't have a background in biology to do biohacking."</p>
        <p class="author">Heather - Denver Biolabs, UC Denver</p>
      </div>
      <div class="col-sm-6">
        <%= image_tag("brian.png") %>
        <p>"I created a split GFP that you can attach to interacting proteins and detect protein-protein binding."</p>
        <p class="author">Brian - Boolean Biotech, Founding scientist 23andMe</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag("andrew.png") %>
        <p>"Arcturus gave our design teams a tangible glimpse into the world of synthetic biology, allowing us to design better and faster for an accelerating future."</p>
        <p class="author">Andrew - IDEO</p>
      </div>
      <div class="col-sm-6">
        <%= image_tag("ryan.png") %>
        <p>"We're putting together a project to provide open source insulin."</p>
        <p class="author">Ryan - IndieBio, Counter Culture Labs, XPRIZE</p>
      </div>
    </div>
  </div>
</div>

<div class="container section section-four">
  <div class="row">
    <div class="col-sm-12">
      <h2>We were featured at</h2>
      <%= image_tag("media.png", class: "img-responsive") %>
    </div>
  </div>
</div>

<div class="section section-five">
  <div class="container">
    <div class="row">
      <div class="col-sm-1 col-sm-offset-2">
        <%= link_to image_tag("arcturus.png", width: "70", height: "66", class: "footer-logo"), root_path %>
      </div>
      <div class="col-sm-2">
        <ul>
          <li><%= link_to 'Explore', explore_path %></li>
          <li><%= link_to 'How it Works', '#how-it-works' %></li>
          <li><%= link_to 'FAQ', '#frequently-asked-questions' %></li>
          <li><%= link_to 'People', people_path %></li>
          <li><%= link_to 'Forum', 'https://forum.arcturus.io' %></li>
        </ul>
      </div>
      <div class="col-sm-4 social">
        <%= link_to image_tag("facebook.png", width: "32.5", height: "32.5"), "https://www.facebook.com/arcturusbiocloud?fref=ts" %>
        <%= link_to image_tag("github.png", width: "32.5", height: "32.5"), "https://github.com/arcturusbiocloud" %>
        <%= link_to image_tag("medium.png", width: "32.5", height: "32.5"), "https://medium.com/@arcturusbiocloud" %>
        <%= link_to image_tag("twitter.png", width: "32.5", height: "32.5"), "https://twitter.com/arcturusbio" %>
        <p>© 2016 Acturus BioCloud, Inc.</p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var shown = $('.question').first().get(0);
  $('.answer').first().show();

  $('.question').click( function () {
    $(shown).nextAll('p').slideUp();
    $(shown).find('i').removeClass('fa-rotate-90');

    if (shown == this) { shown = null; return; }

    $(this).nextAll('p').slideDown();
    $(this).find('i').addClass('fa-rotate-90');
    shown = this;
  });
</script>
