<%= form_for(@project, html: { class: "form-inline" }) do |f| %>
  <div class="row project">
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label :name, class: "sr-only" %>
        <%= f.text_field :name, placeholder: "Project name", class: "form-control" %>
      </div>
      <div class="checkbox scope-check">
        <label>
          <%= f.check_box :is_open_source %> Public project?
        </label>
      </div>
      <br>
      <span class="label label-danger form-error"><%= field_validation_message(@project, :name) %></span>
    </div>
  </div>

  <div class='file-input'>
    <%= f.file_field :gen_bank, class: "dropify", "data-default-file" => "" %>
    <%= f.hidden_field :gen_bank_cache %>
    <br>
    <p>The following tools can be used to create a biological construct and save as a GenBank file:</p>
    <p><%= link_to image_tag('snap-gene-logo.png'), 'http://www.snapgene.com/products/file_compatibility/GenBank/', target: 'blank' %> <%= link_to image_tag('dna-20-logo.png'), 'https://www.dna20.com/resources/genedesigner', target: 'blank' %> <%= link_to image_tag('ape-logo.png'), 'http://biologylabs.utah.edu/jorgensen/wayned/ape/', target: 'blank' %></p>
  </div>

  <br>
  <hr>

  <div class='file-input'>
    <p><strong>Choose the experiment data you want from your construct</strong></p>

    <% Experiment.all.each do |experiment| %>
      <div class="checkbox">
        <label>
          <%= check_box_tag("project[experiment_ids][]", experiment.id, @project.experiments.include?(experiment)) %> <%= experiment.name %>
        </label>
      </div>
      <br>
    <% end %>
  </div>
  
  <br>
  
  <div class="row project">
    <div class="col-xs-12">
      <%= f.submit "Assemble", class: "btn btn-lg btn-primary design-action" %>
    </div>
  </div>
  
  <hr>
  
  <div class="row project">
    <div class="col-xs-12">
      <p>We always use the best cells and libraries to create your construct. <strong>Proud to be partner with:</strong></p>
      <p><%= link_to image_tag('synbiota-logo.png'), 'https://synbiota.com/', target: 'blank' %> <%= link_to image_tag('zymo-research-logo.png'), 'https://www.zymoresearch.com/', target: 'blank' %></p>
    </div>
  </div>

<% end %>

<script>
$('.dropify').dropify({
  messages: { 'default': 'Drag and drop the GenBank file of your biological construct here' }
});
</script>
