<%= form_for(@project, html: { class: "form-inline" }) do |f| %>
  <div class="row project">
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label :name, class: "sr-only" %>
        <%= f.text_field :name, placeholder: "Project name", class: "form-control" %>
      </div>
      <div class="checkbox scope-check">
        <label>
          <%= f.check_box :is_open_source %> Open source?
        </label>
      </div>
      <br>
      <span class="label label-danger form-error"><%= field_validation_message(@project, :name) %></span>
    </div>
  </div>

  <div class="row project">
    <div class="col-xs-12">
      <%= f.label :description %>
      <%= f.text_field :description, placeholder: "A short sentence that describes your project", style: "width:100%", class: "form-control" %>
      <span class="label label-danger form-error"><%= field_validation_message(@project, :description) %></span>
    </div>
  </div>

  <%= f.label :design %>
  <p>Select the parts that will be used to assemble your genetic circuit:</p>
    
  <br>
  <div class="row design-attribute">
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label :anchor, t("design.anchor.name") %>
        <%= f.select :anchor, options_for_select(t("design.anchor.values").invert), {}, { :class => 'form-control' } %>
        <p><%= t("design.anchor.description") %></p>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label :promoter, t("design.promoter.name") %>
        <%= f.select :promoter, options_for_select(t("design.promoter.values").invert), {}, { :class => 'form-control' } %>
        <p><%= t("design.promoter.description") %></p>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label :rbs, t("design.rbs.name") %>
        <%= f.select :rbs, options_for_select(t("design.rbs.values").invert), {}, { :class => 'form-control' } %>
        <p><%= t("design.rbs.description") %></p>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label :gene, t("design.gene.name") %>
        <%= f.select :gene, options_for_select(t("design.gene.values").invert), {}, { :class => 'form-control' } %>
        <p><%= t("design.gene.description") %></p>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label :terminator, t("design.terminator.name") %>
        <%= f.select :terminator, options_for_select(t("design.terminator.values").invert), {}, { :class => 'form-control' } %>
        <p><%= t("design.terminator.description") %></p>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label :cap, t("design.cap.name") %>
        <%= f.select :cap, options_for_select(t("design.cap.values").invert), {}, { :class => 'form-control' } %>
        <p><%= t("design.cap.description") %></p>
      </div>
    </div>
  </div>
  
  <div class="row project">
    <div class="col-xs-12">
      <% if current_user.active? %>
        <!-- <%= f.submit "Assemble", class: "btn btn-lg btn-primary design-action" %> -->
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-image="<%= asset_path('arcturus.png') %>"
                data-name="Arcturus BioCloud"
                data-description="1 biological construct with 1 gene"
                data-amount="32000"
                data-email="<%= current_user.email %>"
                data-label="Assemble"
                data-allow-remember-me="true"
                data-bitcoin="true">
        </script>
      <% else %>
        <button type="button" class="btn btn-lg btn-primary design-action" data-toggle="modal" data-target="#betaInvitation">Assemble</button>
      <% end %>
    </div>
  </div>
  
  <p>Would you like to upload new genes and parts? <a href="#" id="upload-gene">Talk with us!</a></p>
  <script>
  $('#upload-gene').click(function (event) {
    Intercom('show');
    event.preventDefault(); // Prevent link from following its href
  });
  </script>
    
<% end %>

<div class="modal fade" id="betaInvitation" tabindex="-1" role="dialog" aria-labelledby="betaInvitation" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Beta invitation</h4>
      </div>
      <div class="modal-body">
        <p>Hooray <%= current_user.username %>!</p>
        <p>It seems like you want to see your experiment in action, that's right?</p>
        <p>We are currently giving private access to selected users, so if you want to join the waiting list, please fill in the <a href="https://arcturus.typeform.com/to/jk9qz8">invitation form</a> and cross your fingers!</p>
        <p>If you have already filled the invitation form, don't worry, because we are adding more members in a weekly basis.</p>
        <p>Our cluster of robots, assemble genes, transform competent cells, plate and incubate your project, so by now we have a limited capacity.</p>
        <p>We are working hard to scale and expand our capacity! <%= link_to 'Explore here', explore_path %> some projects already created by our private beta users.</p>
        <p>There are <%= User.count - User.active.count %> members in our waiting list!</p>
      </div>
      <div class="modal-footer">
        <a href="https://arcturus.typeform.com/to/jk9qz8" class="btn btn-primary">Invitation form</a>
      </div>
    </div>
  </div>
</div>
