<% @projects.each do |project| %>
  <div class="row project">
    <div class="col-md-1">
      <%= link_to image_tag(project.icon_url_path, class: "img-responsive #{icon_class(project)}"), project_path(project) %>
    </div>
    <div class="col-md-4 description">
      <h4>
        <% unless project.is_open_source? %>
          <%= fa_icon "lock", class: 'project-visibility' %>
        <% end %>

        <p>
          <span class="project-owner"><%= link_to project.user.username, username_projects_path(project.user.username) %> /</span>
          <%= link_to project.name, username_project_path(project.user.username, project) %>
        </p>
        <span class="light"><%= project.status.humanize %></span>
      </h4>
    </div>
    <div class="col-md-7">
      <ul class="actions">
        <li><%= link_to "Timeline", username_project_path(project.user.username, project, tab: "timeline") %></li>
        <li><%= link_to "Design", username_project_path(project.user.username, project, tab: "design") %></li>
        <li><%= link_to "Data analysis", username_project_path(project.user.username, project, tab: "data-analysis") %></li>
      </ul>
    </div>
  </div>
<% end %>

<%= paginate @projects %>
