<div class="container">
  <% if @projects.any? %>
    <div class="slogan">
      <h1><%= image_tag (@user || current_user).gravatar_url(default: 'identicon') %> <%= index_title(@user) %></h1>
      <p class="lead">Check the following synthetic biology projects</p>
      <hr/>
    </div>

    <%= render 'list' %>

  <% else %>
    <div class="slogan">
      <h1><%= image_tag (@user || current_user).gravatar_url(default: 'identicon') %> <%= index_title(@user) %></h1>
      <% if user_signed_in? %>
        <p class="lead">Are you new here? Sweet! <%= link_to "Create your first project!", new_project_path %></p>
      <% else %>
        <p class="lead"><%= @user.username %> seems to have no projects to be shown!</p>
      <% end %>
      <hr/>
    </div>
  <% end %>
</div>
