<div class="container">
  <div class="slogan">
    <ul class="nav nav-pills nav-inner">
      <li class="<%= selected?('timeline', false, true) %>"><a href="#timeline" data-toggle="pill">Timeline</a></li>
      <li class="<%= selected?('design', false) %>"><a href="#design" data-toggle="pill">Design</a></li>
      <li class="<%= selected?('data-analysis', false) %>"><a href="#data-analysis" data-toggle="pill">Data analysis</a></li>
      <% if project_owner?(@project) %>
        <li><a href="#settings" data-toggle="pill">Settings</a></li>
      <% end %>
    </ul>
    <h1><%= image_tag (@user || current_user).gravatar_url(default: 'identicon') %> <%= link_to @project.user.username, username_projects_path(@project.user.username) %> / <%= @project.name %></h1>
  </div>

  <div class="tab-content">

    <div class="<%= selected?('timeline', true, true) %> tab-pane" id="timeline" style="background-color: #e9f0f5;">
      <section id="cd-timeline" class="cd-container">
        <% @activities.each do |activity| %>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img <%= activity.background %>">
              <i class="fa fa-<%= activity.icon %>" style="<%= activity.custom_css_style %>"></i>
            </div>

            <div class="cd-timeline-content">
              <h2><%= activity.title %></h2>
              <p><%= raw activity.description %></p>

              <% if project_owner?(@project) && activity.payment_pending? && @project.payment_pending? %>
                <%= render partial: 'stripe_form', locals: { project: @project } %>
              <% elsif activity.done? %>
                
                <p><%= link_to fa_icon('download', text: 'Download data analysis'), project_download_asset_path(@project, 'report'), class: "btn btn-success" %></p>
              <% end %>

              <span class="cd-date"><%= activity.created_at.strftime('%m/%d/%Y %H:%M:%S') %></span>
            </div>
          </div>
        <% end %>
    	</section>
    </div>

    <div class="<%= selected?('design', true) %> tab-pane" id="design">
      <div class="row">
        <div class="col-xs-12">
          <p><strong>Design</strong></p>
          <%= link_to fa_icon('download', text: 'Download GB or FASTA file'), project_download_asset_path(@project, 'gen_bank'), class: "btn btn-info" %>
        </div>
      </div>

      <br><br>
      <!--
      <div class="row">
        <div class="col-xs-12">
          <p>Construct visualization</p>
          <br>
          <img src="http://placehold.it/350x350" class="img-circle">
        </div>
      </div>
      -->
    </div>

    <div class="<%= selected?('data-analysis', true) %> tab-pane" id="data-analysis">
      <p><strong>Experiment data</strong></p>
      
      <% Experiment.all.each do |experiment| %>
        <div class="checkbox">
          <label>
            <%= check_box_tag("project[experiment_ids][]", experiment.id, @project.experiments.include?(experiment), disabled: true) %> <%= experiment.name %>
          </label>
        </div>
      <% end %>
    </div>

    <% if project_owner?(@project) %>
      <div class="tab-pane" id="settings">
        <%= form_for(@project, html: { class: "form-inline" }) do |f| %>
          <div class="row project">
            <div class="col-xs-12">
              <div class="form-group">
                <%= f.label :name, class: "sr-only" %>
                <%= f.text_field :name, placeholder: "Project name", class: "form-control" %>
              </div>
              <div class="checkbox scope-check">
                <label>
                  <%= f.check_box :is_open_source %> Public project?
                </label>
              </div>
              <br>
              <span class="label label-danger form-error"><%= field_validation_message(@project, :name) %></span>
            </div>
          </div>

          <div class="row project">
            <div class="col-xs-12 form-actions">
              <hr>
              <%= f.submit "Update settings", class: "btn btn-primary" %>
              <%= link_to "Delete project", @project, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
