<div class="slogan">
  <ul class="nav nav-pills nav-inner">
    <li class="<%= is_selected?('timeline', true) %>"><a href="#timeline" data-toggle="pill">Timeline</a></li>
    <li class="<%= is_selected?('design') %>"><a href="#design" data-toggle="pill">Design</a></li>
    <li class="<%= is_selected?('insights') %>"><a href="#insights" data-toggle="pill">Insights</a></li>
    <% if is_project_owner?(@project) %>
      <li><a href="#settings" data-toggle="pill">Settings</a></li>
    <% end %>
  </ul>

  <h1><%= @project.name %></h1>
  <p class="lead"><%= @project.description %></p>

  <hr/>
</div>

<div class="tab-content">
  <div class="<%= is_selected?('timeline', true) %> tab-pane" id="timeline" style="background-color: #e9f0f5;">
    <section id="cd-timeline" class="cd-container">
      <% @activities.each do |activity| %>
        <div class="cd-timeline-block">
          <div class="cd-timeline-img <%= activity_background(activity) %>">
            <%= fa_icon activity_icon(activity) %>
          </div>

          <div class="cd-timeline-content">
            <h2><%= activity_title(activity) %></h2>
            <%= raw activity_description(activity) %>
            <span class="cd-date"><%= activity.created_at.strftime('%m/%d/%Y %H:%M:%S') %></span>
          </div>
        </div>
      <% end %>
  	</section>
  </div>

  <div class="<%= is_selected?('design') %> tab-pane" id="design">
    <h4>Design</h4>

    <%= form_for(@project, html: { class: "form-inline" }) do |f| %>
      <div class="row project">
        <div class="col-xs-12">
          <%= f.text_area :design, rows: "15", style: "width:100%", class: "form-control", disabled: true %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="<%= is_selected?('insights') %> tab-pane" id="insights">
    <div class="row project">
      <% @activities.picture_taken.each_with_index do |activity, i| %>
        <div class="col-xs-2">
          <a href="<%= activity.detail.gsub("t_thumbnail","t_original") %>" class="lighterbox">
            <%= image_tag activity.detail, class: 'img-thumbnail' %>
            <p class="lighterbox-title">Sample #<%= i+1 %></p>
            <span class="lighterbox-desc"><%= activity.created_at.strftime('%m/%d/%Y %H:%M:%S') %> </span>
          </a>
          #<%= i+1 %> - <%= activity.created_at.strftime('%m/%d/%Y %H:%M:%S') %>
        </div>
      <% end %>
    </div>
  </div>

  <% if is_project_owner?(@project) %>
    <div class="tab-pane" id="settings">
      <%= form_for(@project, html: { class: "form-inline" }) do |f| %>
        <div class="row project">
          <div class="col-xs-12">
            <div class="form-group">
              <%= f.label :name, class: "sr-only" %>
              <%= f.text_field :name, placeholder: "Project name", class: "form-control" %>
            </div>
            <div class="checkbox scope-check">
              <label>
                <%= f.check_box :is_public %> Public?
              </label>
            </div>
            <br>
            <span class="label label-danger form-error"><%= field_validation_message(@project, :name) %></span>
          </div>
        </div>

        <div class="row project">
          <div class="col-xs-12">
            <%= f.label :description %>
            <%= f.text_field :description, placeholder: "A short sentence that describes your project", style: "width:100%", class: "form-control" %>
            <span class="label label-danger form-error"><%= field_validation_message(@project, :description) %></span>
          </div>
        </div>

        <div class="row project">
          <div class="col-xs-12">
            <%= f.submit "Update settings", class: "btn btn-primary" %>
            <%= link_to "Delete project", @project, class: "btn btn-danger", method: :delete, data: { :confirm => 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<br/>
