<% content_for(:social) do %>
  <meta property="og:locale" content="en" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:title" content="<%= @project.name %>" />
  <meta property="og:description" content="Check this beautiful synthetic biology project at Arcturus BioCloud!" />
  <meta property="og:site_name" content="Arcturus BioCloud" />
  <% if @activities.picture_taken.any? %>
  <meta property="og:image" content="<%= @activities.picture_taken.first.detail.gsub("t_thumbnail","t_facebook") %>" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <% end %>

  <% if @activities.picture_taken.any? %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@arcturusbio" />
    <meta name="twitter:creator" content="@arcturusbio" />
    <meta name="twitter:title" content="<%= @project.name %>" />
    <meta name="twitter:description" content="Code, create and share your biotechnology experiments in a friendly and easy way." />
    <meta name="twitter:image:src" content="<%= @activities.picture_taken.first.detail.gsub("t_thumbnail","t_twitter-card") %>" />
    <meta name="twitter:url" content="<%= request.base_url + request.path %>" />
  <% else %>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@arcturusbio" />
    <meta name="twitter:title" content="<%= @project.name %>" />
    <meta name="twitter:description" content="Code, create and share your biotechnology experiments in a friendly and easy way." />
    <meta name="twitter:image" content="https://dl.dropboxusercontent.com/u/440273/arcturus.jpg" />
    <meta name="twitter:url" content="<%= request.base_url + request.path %>" />
  <% end %>
<% end %>

<div class="container">
  <div class="slogan">
    <ul class="nav nav-pills nav-inner">
      <li class="<%= is_selected?('timeline', false, true) %>"><a href="#timeline" data-toggle="pill">Timeline</a></li>
      <li class="<%= is_selected?('design', false) %>"><a href="#design" data-toggle="pill">Design</a></li>
      <li class="<%= is_selected?('insights', false) %>"><a href="#insights" data-toggle="pill">Insights</a></li>
      <% if is_project_owner?(@project) %>
        <li><a href="#settings" data-toggle="pill">Settings</a></li>
      <% end %>
    </ul>
    <h1><%= image_tag (@user || current_user).gravatar_url(default: 'identicon') %> <%= link_to @project.user.username, username_projects_path(@project.user.username) %> / <!-- <%= @project.id %> --> <%= @project.name %></h1>
    <p class="lead"><%= @project.description %></p>

    <hr/>
  </div>

  <div class="tab-content">

    <div class="<%= is_selected?('timeline', true, true) %> tab-pane" id="timeline" style="background-color: #e9f0f5;">
      <div class="social">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en/sdk.js#xfbml=1&version=v2.3";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-share-button" data-layout="button_count"></div>

        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check this beautiful synthetic biology project at Arcturus BioCloud!" data-via="arcturusbio">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>

      <br class="clearfix">

      <section id="cd-timeline" class="cd-container">
        <% @activities.each do |activity| %>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img <%= activity.background %>">
              <i class="fa <%= activity.icon %>"></i>
            </div>

            <div class="cd-timeline-content">
              <h2><%= activity.title %></h2>
              <%= raw activity.description %>
              <span class="cd-date"><%= activity.created_at.strftime('%m/%d/%Y %H:%M:%S') %></span>
            </div>
          </div>
        <% end %>
    	</section>
    </div>

    <div class="<%= is_selected?('design', true) %> tab-pane" id="design">
      <%= form_for(@project, html: { class: "form-inline" }) do |f| %>
        <div class="row design-attribute">
          <div class="col-xs-12">
            <div class="form-group">
              <%= f.label :anchor, t("design.anchor.name") %>
              <%= f.select :anchor, options_for_select([t("design.anchor.values.#{@project.anchor}"), nil]), {}, { disabled: true, :class => 'form-control' } %>
              <p><%= t("design.anchor.description") %></p>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="form-group">
              <%= f.label :promoter, t("design.promoter.name") %>
              <%= f.select :promoter, options_for_select([t("design.promoter.values.#{@project.promoter}"), nil]), {}, { disabled: true, :class => 'form-control' } %>
              <p><%= t("design.promoter.description") %></p>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="form-group">
              <%= f.label :rbs, t("design.rbs.name") %>
              <%= f.select :rbs, options_for_select([t("design.rbs.values.#{@project.rbs}"), nil]), {}, { disabled: true, :class => 'form-control' } %>
              <p><%= t("design.rbs.description") %></p>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="form-group">
              <%= f.label :gene, t("design.gene.name") %>
              <%= f.select :gene, options_for_select([t("design.gene.values.#{@project.gene}"), nil]), {}, { disabled: true, :class => 'form-control' } %>
              <p><%= t("design.gene.description") %></p>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="form-group">
              <%= f.label :terminator, t("design.terminator.name") %>
              <%= f.select :terminator, options_for_select([t("design.terminator.values.#{@project.terminator}"), nil]), {}, { disabled: true, :class => 'form-control' } %>
              <p><%= t("design.terminator.description") %></p>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="form-group">
              <%= f.label :cap, t("design.cap.name") %>
              <%= f.select :cap, options_for_select([t("design.cap.values.#{@project.cap}"), nil]), {}, { disabled: true, :class => 'form-control' } %>
              <p><%= t("design.cap.description") %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="<%= is_selected?('insights', true) %> tab-pane" id="insights">
      <div class="row project">
        <% @activities.picture_taken.reverse.each_with_index do |activity, i| %>
          <div class="col-xs-2">
            <a class="fancybox" rel="gallery1" href="<%= activity.detail.gsub("t_thumbnail/","") %>" title="Sample #<%= i+1 %>">
              <%= image_tag activity.detail, class: 'img-thumbnail' %>
            </a>
            <p>#<%= i+1 %> - <%= activity.created_at.strftime('%m/%d/%Y %H:%M:%S') %></p>
          </div>
        <% end %>
      </div>
    </div>

    <% if is_project_owner?(@project) %>
      <div class="tab-pane" id="settings">
        <%= form_for(@project, html: { class: "form-inline" }) do |f| %>
          <div class="row project">
            <div class="col-xs-12">
              <div class="form-group">
                <%= f.label :name, class: "sr-only" %>
                <%= f.text_field :name, placeholder: "Project name", class: "form-control" %>
              </div>
              <div class="checkbox scope-check">
                <label>
                  <%= f.check_box :is_open_source %> Open source?
                </label>
              </div>
              <br>
              <span class="label label-danger form-error"><%= field_validation_message(@project, :name) %></span>
            </div>
          </div>

          <div class="row project">
            <div class="col-xs-12">
              <%= f.label :description %>
              <%= f.text_field :description, placeholder: "A short sentence that describes your project", style: "width:100%", class: "form-control" %>
              <span class="label label-danger form-error"><%= field_validation_message(@project, :description) %></span>
            </div>
          </div>

          <div class="row project">
            <div class="col-xs-12">
              <%= f.submit "Update settings", class: "btn btn-primary" %>
              <%= link_to "Delete project", @project, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<br/>

<script type="text/javascript" src="https://cdn.cine.io/cineio-broadcast.js"></script>
<script type="text/javascript">
  function loadVideo() {
    var playerId = "player";
    var logError = function(message){
      var elem = document.getElementById(playerId);
      elem.innerText = message;
    };
    var
      qs = {},
      publicKey = "55f827239e6c0badfc95795943396155",
      streamId = "551913c4b936640b005750da";

    if (location.search) {
      location.search.substr(1).split("&").forEach(function(item) {
        var parts = item.split(/=(.+)?/);
        qs[parts[0]] = parts[1];
      });
    }

    if (publicKey == null){
      return logError("missing publicKey");
    }
    if (streamId == null){
      return logError("missing streamId");
    }

    CineIO.init(publicKey, {jwPlayerKey: qs.jwPlayerKey});

    <% if @project.recording_file_name.present? %>
      CineIO.playRecording(streamId, "<%= @project.recording_file_name %>", playerId);
    <% else %>
      CineIO.play(streamId, playerId);
    <% end %>
  }

  loadVideo();

  var pusher, channel;
  var entryId = 0;

  $(document).ready(function() {
    if(typeof pusher == 'undefined'){
      pusher = new Pusher("<%= Rails.application.secrets.pusher_key %>");
      channel = pusher.subscribe('<%= @project.channel %>');
      channel.bind('update', function(data) { addTimelineEntry(data); });
    } else {
      addTimelineEntry(data);
    }
  });

  function addTimelineEntry(data) {
    var markup = "";

    markup += "<div class='cd-timeline-block'>";
    markup += "  <div class='cd-timeline-img " + data.background + "'>";
    markup += "    <i class='fa " + data.icon + "'></i>";
    markup += "  </div>";
    markup += "  <div class='cd-timeline-content timeline-entry entry-" + entryId + "'>";
    markup += "    <h2>" + data.title + "</h2>";
    markup += "    <p>" + data.description + "</p>";
    markup += "    <span class='cd-date'>" + data.timestamp + "</span>";
    markup += "  </div>";
    markup += "</div>";

    $("#cd-timeline").prepend(markup);
    $(".entry-" + entryId++).fadeIn("slow", function() {
      if(data.icon == 'fa-random') { loadVideo(); }
    });
  }
</script>
