<nav class="navbar navbar-white navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("arcturus.png", width: "42", height: "40", alt: "Arcturus BioCloud"), root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li class="<%= active?("/#{current_user.username}") %>"><%= link_to 'My projects', username_projects_path(current_user.username) %></li>
          <li class="divisor">|</li>
        <% end %>
        <li class="<%= active?('/explore') %>"><%= link_to 'Explore', explore_path %></li>
        <li class="divisor">|</li>
        <li class="<%= active?('/people') %>"><%= link_to 'People', people_path %></li>
        <li class="divisor">|</li>
        <li><%= link_to 'Forum', 'https://forum.arcturus.io/' %></li>
        <% if admin? %>
          <li class="divisor">|</li>
          <li class="<%= active?('/dashboard') %>"><a href="/dashboard">Dashboard</a></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Log out", destroy_user_session_path %></li>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-default' %>
          <%= link_to "Sign In", new_user_session_path, class: 'btn btn-blue' %>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <form class="nav navbar-nav navbar-right">
          <%= link_to "New Project", new_project_path, class: "btn btn-success" %>
        </form>
      <% end %>
    </div>
  </div>
</nav>
